---
import ContentTypeSelection from "@components/Form/ContentTypeSelection.astro";
import Input from "@components/Form/Input.astro";
import InputBox from "@components/Form/InputBox.astro";
import StatusTypeSelection from "@components/Form/StatusTypeSelection.astro";
import Icon from "@components/Icon.astro";
import { DateNavigator, transformDate } from "@jsarmyknife/native--math";
import PagePlate from "@layouts/PagePlate.astro";
import '@toast-ui/editor/dist/toastui-editor.css';
import type { DATA_DB } from "src/structure/blog";

//Get Params
const { slug } = Astro.params;
const responseMd = await fetch(Astro.url.origin+"/api/blog/"+slug+".md");
const responseJson = await fetch(Astro.url.origin+"/api/blog/"+slug+".json");
if(
  responseMd.status != 200 || responseMd.headers.get("content-type") !== "text/markdown" || 
  responseJson.status != 200 || responseJson.headers.get("content-type") !== "application/json"
){
  return Astro.redirect("/blog/list")
}
const markdownContent = await responseMd.text();
const jsonContent = (await responseJson.json()).data as DATA_DB;

//Breadcrumb
const breadcrumb = [
  {
    title: "Blogs",
    url: "/blog",
  },
  {
    title: "Edit",
    url: null,
  },
];
---

<PagePlate title="Edit" breadCrumb={breadcrumb}>
  <input type="hidden" id="previous-data" value={JSON.stringify(jsonContent)} />
  <input type="hidden" id="markdown-content" value={markdownContent} />
  <h1 class="h1 mb-20">Content Editor</h1>
  <main class="mt-5 mb-20">
    <form id="blog-form">
      <section class="mb-10 grid gap-x-2 md:grid-cols-2">

        <div class="lg:col-span-1 col-span-2">
          <div class="flex items-center gap-2">
            <label for="title" class="label">Title</label>
            <button id="ai-generate-title-button" type="button" class="shrink-0 btn btn-xs h-fit -translate-y-1" disabled >
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 2L9.09 6.26H13.91L8.91 9.74L10.5 14L7.5 10.27L4.5 14L6.09 9.74L1.09 6.26H5.91L7.5 2Z" fill="currentColor"/>
                <circle cx="17" cy="7" r="2" fill="currentColor"/>
                <circle cx="20" cy="17" r="2" fill="currentColor"/>
                <circle cx="12" cy="19" r="2" fill="currentColor"/>
              </svg>
              <span>Generate</span>
            </button>
          </div>
          <Input
            id="title"
            placeholder="Enter the title of your blog post"
            type="text"
            required={true}
            class="basis-full"
            value={jsonContent.title}
          />
        </div>
        <InputBox
          class="lg:col-span-1 col-span-2"
          id="author"
          placeholder="Enter the author of your blog post"
          type="text"
          required={true}
          value={jsonContent.author}
        />
        <InputBox
          class="md:col-span-1 col-span-2"
          id="published"
          type="date"
          required={true}
          value={transformDate(jsonContent.published, "yyyy-mm-dd")}
        />
        <div class="md:col-span-1 col-span-2 mb-5">
          <label for="content-type" class="label">Content Type</label>
          <ContentTypeSelection id="content-type" value={jsonContent.content_type} />
        </div>

        <div class=" mb-5 md:col-span-1 col-span-2">
          <div class="flex gap-2 items-center">
            <label for="tags" class="label">Tags</label>
            <button id="ai-generate-tag-button" type="button" class="shrink-0 btn btn-xs h-fit -translate-y-1" disabled >
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 2L9.09 6.26H13.91L8.91 9.74L10.5 14L7.5 10.27L4.5 14L6.09 9.74L1.09 6.26H5.91L7.5 2Z" fill="currentColor"/>
                <circle cx="17" cy="7" r="2" fill="currentColor"/>
                <circle cx="20" cy="17" r="2" fill="currentColor"/>
                <circle cx="12" cy="19" r="2" fill="currentColor"/>
              </svg>
              <span>Generate</span>
            </button>
          </div>
          <div class="basis-full">
            <input id="tags" class="select" value={ JSON.parse(jsonContent.tags).join(", ") }></input>
          </div>
        </div>

        <div class="mb-5 md:col-span-1 col-span-2">
          <label for="status" class="label">Status</label>
          <StatusTypeSelection id="status" value={ jsonContent.status } />
        </div>

        <div class=" col-span-2 mb-5">
          <div class="flex gap-2 items-center">
            <label for="description" class="label">Description</label>
            <button id="ai-generate-description-button" type="button" class="shrink-0 btn btn-xs h-fit mb-1" >
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 2L9.09 6.26H13.91L8.91 9.74L10.5 14L7.5 10.27L4.5 14L6.09 9.74L1.09 6.26H5.91L7.5 2Z" fill="currentColor"/>
                <circle cx="17" cy="7" r="2" fill="currentColor"/>
                <circle cx="20" cy="17" r="2" fill="currentColor"/>
                <circle cx="12" cy="19" r="2" fill="currentColor"/>
              </svg>
              <span>Generate</span>
            </button>
          </div>
          
          <textarea id="description" class="input textarea-bordered h-24" placeholder="Enter a short description of your blog post" value={jsonContent.description}>{jsonContent.description}</textarea>
        </div>

        <div class="col-span-2">
          <label for="thumbnail" class="label">Thumbnail</label>
          <input id="thumbnail" type="file" class="file" accept="image/*" />
          <div id="image-preview">
            <small class="font-light">Preview (16:9 Ratio)</small>
            <div class="flex justify-center bg-gray-100">
              <div class="w-96 aspect-video">
                <img src={`/api/blog/thumbnail/${jsonContent.slug}` } alt="Thumbnail Preview" class="image !object-cover"></img>  
              </div>
            </div>
          </div>
        </div>
        
        
      </section>

      <section>
        <div class="flex gap-2 items-center">
          <label class="label">Markdown Content Editor</label>
          <button id="ai-generate-content-button" type="button" class="shrink-0 btn btn-xs h-fit mb-1" >
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.5 2L9.09 6.26H13.91L8.91 9.74L10.5 14L7.5 10.27L4.5 14L6.09 9.74L1.09 6.26H5.91L7.5 2Z" fill="currentColor"/>
              <circle cx="17" cy="7" r="2" fill="currentColor"/>
              <circle cx="20" cy="17" r="2" fill="currentColor"/>
              <circle cx="12" cy="19" r="2" fill="currentColor"/>
            </svg>
            <span>Generate</span>
          </button>
        </div>
        <div id="editor"></div>
      </section>
      
      <section class="mt-10 flex justify-end gap-2">
        <button id="delete-button" type="button" class="btn btn-error">Delete</button>
        <button id="preview" type="button" class="btn">
          <Icon name="eye" outClass="size-5" /> Blog Preview
        </button>
        <button id="update" type="submit" class="btn btn-primary">Update</button>
      </section>
    </form>
  </main>
</PagePlate>

<script>
//---> Import
import Editor from '@toast-ui/editor';
import Choices, { type InputChoice } from "choices.js";
import "choices.js/public/assets/styles/choices.css";
import {Modal} from "@jsarmyknife/native--pop"
import { DOMPopTransformer, E } from '@jsarmyknife/native--dom';
import { convertFileToBase64 } from '@jsarmyknife/native--file';
import { actions } from 'astro:actions';
import { transformDate } from '@jsarmyknife/native--math';
import { navigate } from 'astro:transitions/client';
import type { DATA_DB } from 'src/structure/blog';
import { deletePop } from 'src/script/deletePop';
import { ApiSuggestBlogContent, ApiSuggestBlogDescription, ApiSuggestBlogTags, ApiSuggestBlogTitle } from 'src/script/clientApi';

//---> Constants
//Elements
const blogForm = document.getElementById("blog-form") as HTMLFormElement;
const deleteButton = document.querySelector("#delete-button") as HTMLButtonElement;
const editorContainer = document.getElementById("editor") as HTMLDivElement;
const titleInput = document.getElementById("title") as HTMLInputElement;
const authorInput = document.getElementById("author") as HTMLInputElement;
const publishedInput = document.getElementById("published") as HTMLInputElement;
const statusSelection = document.getElementById("status") as HTMLSelectElement;
const descriptionInput = document.getElementById("description") as HTMLTextAreaElement;
const thumbnailInput = document.getElementById("thumbnail") as HTMLInputElement;
const imagePreview = document.getElementById("image-preview") as HTMLDivElement;
const imagePreviewElement = imagePreview.querySelector("img") as HTMLImageElement;
const contentTypeSelection = document.getElementById("content-type") as HTMLSelectElement;
const tagsInput = document.getElementById("tags") as HTMLInputElement;
const previewButton = document.getElementById("preview") as HTMLButtonElement;
const updateButton = document.getElementById("update") as HTMLButtonElement;

const aiGenerateTitleButton = document.getElementById("ai-generate-title-button") as HTMLButtonElement;
const aiGenerateTagButton = document.getElementById("ai-generate-tag-button") as HTMLButtonElement;
const aiGenerateDescriptionButton = document.getElementById("ai-generate-description-button") as HTMLButtonElement;
const aiGenerateContentButton = document.getElementById("ai-generate-content-button") as HTMLButtonElement;

// Constant
const previousData = JSON.parse((document.getElementById("previous-data") as HTMLInputElement).value) as DATA_DB;
const markdownContent = (document.getElementById("markdown-content") as HTMLInputElement).value as string;

//Editor
const editorOptions = {
  el: editorContainer,
  initialEditType: 'markdown',
  previewStyle: 'vertical',
  height: '500px',
  toolbarItems: [
    ['heading', 'bold', 'italic'],
    ['hr'],
    ['ul', 'ol'],
    ['table', 'image', 'link'],
    ['code', 'codeblock'],
    ['scrollSync'],
  ],
};
const editor = new Editor({
  ...editorOptions
});
//For Choices.js
const tagsInputChoices = new Choices(tagsInput, {
  addItems: true,
  itemSelectText: "",
  shouldSort: false,
  removeItemButton: true,
  duplicateItemsAllowed: false,
  placeholder: true,
  placeholderValue: "Input tags for this content.",
  renderSelectedChoices: "always",
});

//---> On Load
editor.setMarkdown(markdownContent);


//---> Functions
function canAiGenerateContent(){
  const btnContent = aiGenerateContentButton.querySelector("span") as HTMLSpanElement;
  if(btnContent.textContent === "Generating..."){
    return "";
  }
  let prompt = "";
  
  //Check title
  if(titleInput.value.length > 0){
    prompt += "Title: "+titleInput.value+" \n";
  }

  //Check Tags
  if(tagsInputChoices.getValue(true).length > 0){
    prompt += "Tags: "+(typeof tagsInputChoices.getValue(true) === "string" ? tagsInputChoices.getValue(true) : (tagsInputChoices.getValue(true) as string[]).join(", "))+" \n";
  }

  //Check Description
  if(descriptionInput.value.length > 0){
    prompt += "Description: "+descriptionInput.value+" \n";
  }

  //Also Include Old Content
  if(editor.getMarkdown().length > 0){
    prompt += "Old Content: " + editor.getHTML().replace(/<\/?[^>]+(>|$)/g, "").substring(0, 100) + " \n";
  }

  if(prompt !== ""){
    aiGenerateContentButton.disabled = false;
  }else{
    aiGenerateContentButton.disabled = true;
  }
  return prompt;
}

function canAiGenerateTitle(){
  const btnContent = aiGenerateTitleButton.querySelector("span") as HTMLSpanElement;
  if(btnContent.textContent === "Generating..."){
    return "";
  }
  let prompt = "";
  
  //Check Tags
  if(tagsInputChoices.getValue(true).length > 0){
    prompt += "Tags: "+(typeof tagsInputChoices.getValue(true) === "string" ? tagsInputChoices.getValue(true) : (tagsInputChoices.getValue(true) as string[]).join(", "))+" \n";
  }

  //Check Description
  if(descriptionInput.value.length > 0){
    prompt += "Description: "+descriptionInput.value+" \n";
  }

  //Check Content, Get the first 100 characters and also remove markdown or html only raw text or better just get the rawText
  if(editor.getMarkdown().length > 0){
    prompt += "Content: "+editor.getHTML().replace(/<\/?[^>]+(>|$)/g, "").substring(0, 100)+" \n";
  }

  //Also Include Old Title
  if(titleInput.value.length > 0){
    prompt += "Old Title: "+titleInput.value+" \n";
  }

  if(prompt !== ""){
    aiGenerateTitleButton.disabled = false;
  }else{
    aiGenerateTitleButton.disabled = true;
  }
  return prompt;
}

function canAiGenerateTags(){
  const btnContent = aiGenerateTagButton.querySelector("span") as HTMLSpanElement;
  if(btnContent.textContent === "Generating..."){
    return "";
  }
  let prompt = "";
  
  //Check title
  if(titleInput.value.length > 0){
    prompt += "Title: "+titleInput.value+" \n";
  }

  //Check Description
  if(descriptionInput.value.length > 0){
    prompt += "Description: "+descriptionInput.value+" \n";
  }

  //Check Content, Get the first 100 characters and also remove markdown or html only raw text or better just get the rawText
  if(editor.getMarkdown().length > 0){
    prompt += "Content: "+editor.getHTML().replace(/<\/?[^>]+(>|$)/g, "").substring(0, 100)+" \n";
  }

  //Also Include Old Tags
  if(tagsInputChoices.getValue(true).length > 0){
    prompt += "Old Tags: "+(typeof tagsInputChoices.getValue(true) === "string" ? tagsInputChoices.getValue(true) : (tagsInputChoices.getValue(true) as string[]).join(", "))+" \n";
  }

  if(prompt !== ""){
    aiGenerateTagButton.disabled = false;
  }else{
    aiGenerateTagButton.disabled = true;
  }
  return prompt;
}

function canAiGenerateDescription(){
  const btnContent = aiGenerateDescriptionButton.querySelector("span") as HTMLSpanElement;
  if(btnContent.textContent === "Generating..."){
    return "";
  }
  let prompt = "";
  
  //Check title
  if(titleInput.value.length > 0){
    prompt += "Title: "+titleInput.value+" \n";
  }

  //Check Tags
  if(tagsInputChoices.getValue(true).length > 0){
    prompt += "Tags: "+(typeof tagsInputChoices.getValue(true) === "string" ? tagsInputChoices.getValue(true) : (tagsInputChoices.getValue(true) as string[]).join(", "))+" \n";
  }

  //Check Content, Get the first 100 characters and also remove markdown or html only raw text or better just get the rawText
  if(editor.getMarkdown().length > 0){
    prompt += "Content: "+editor.getHTML().replace(/<\/?[^>]+(>|$)/g, "").substring(0, 100)+" \n";
  }

  //Also Include Old Description
  if(descriptionInput.value.length > 0){
    prompt += "Old Description: "+descriptionInput.value+" \n";
  }

  if(prompt !== ""){
    aiGenerateDescriptionButton.disabled = false;
  }else{
    aiGenerateDescriptionButton.disabled = true;
  }
  return prompt;
}

//---> Event Listeners
//For Picture
thumbnailInput.addEventListener("change", (e: Event) => {
  const target = e.target as HTMLInputElement;
  const file = target.files?.[0];
  if (file) {
    const reader = new FileReader();
    reader.onload = (event) => {
      imagePreviewElement.src = event.target?.result as string;
      imagePreview.classList.remove("hidden");
    };
    reader.readAsDataURL(file);
  } else {
    imagePreview.classList.add("hidden");
  }
});

//Event listener for editor
editor.on('change', () => {
  //Markdown
  const content = editor.getMarkdown();

  //HTML
  const htmlContent = editor.getHTML();

  canAiGenerateTitle();
  canAiGenerateDescription();
  canAiGenerateTags();
  canAiGenerateContent();
});

//Event Listener for tags input
(tagsInputChoices.passedElement.element.addEventListener as any)(
  "choice",
  (e:CustomEvent<{value:string}>) => {
    canAiGenerateDescription();
    canAiGenerateContent();
    canAiGenerateTitle();
    canAiGenerateTags();
  }
);

//Event Listener for content type selection
contentTypeSelection.addEventListener("change", (e: Event) => {
  console.log(contentTypeSelection.value);
});

//Event Listener for published date
publishedInput.addEventListener("input", (e: Event) => {
  console.log(publishedInput.value);
});

//Event Listener for author input
authorInput.addEventListener("input", (e: Event) => {
  console.log(authorInput.value);
});

//Event Listener for title input
titleInput.addEventListener("input", (e: Event) => {
  canAiGenerateContent();
  canAiGenerateDescription();
  canAiGenerateTags();
  canAiGenerateTitle();
});

//Event Listener for status selection
statusSelection.addEventListener("change", (e: Event) => {
  console.log(statusSelection.value);
});

//Event Listener for description input
descriptionInput.addEventListener("input", (e: Event) => {
  canAiGenerateContent();
  canAiGenerateTitle();
  canAiGenerateTags();
  canAiGenerateDescription();
});

//Preview
previewButton.addEventListener("click", (e: Event) => {
  e.preventDefault();
  // Prepare Modal
  const contentModal = new Modal(DOMPopTransformer);
  contentModal.type("custom").title("Preview").width("1500px").custom(E("div", { className:"px-5", id:"elementalist"}, 
    `${editor.getHTML()}`
  )).button("Close", false, true, true).run();
});


blogForm.addEventListener("submit", async (e)=>{
  e.preventDefault();

  //Prepare Payload for astro action
  const payload = {
    id: String(previousData.id),
    slug: previousData.slug,
    author: authorInput.value,
    title: titleInput.value,
    published: transformDate(new Date(publishedInput.value), "iso-extended"),
    content: editor.getMarkdown() as string,
    contentType: contentTypeSelection.value as "BLOG" | "ANNOUNCEMENT" | "MAINTENANCE" | "NEWS",
    status: statusSelection.value as "DRAFT" | "PUBLISHED",
    description: descriptionInput.value,
    tags: typeof tagsInputChoices.getValue(true) === "string" ? [tagsInputChoices.getValue(true) as string] : tagsInputChoices.getValue(true) as string[],
    thumbnail: thumbnailInput?.files?.[0] ? await convertFileToBase64(thumbnailInput.files[0] as File) : undefined,
  }

  //Prepare Loading Modal
  const loadingPop = new Modal(DOMPopTransformer);
  loadingPop.type("loading").title("Creating Blog Post").message("Please wait. . .").run();

  const {data, error} = await actions.blog.update(payload);

  if (error) {
    const errorPop = new Modal(DOMPopTransformer);
    errorPop.type("error").title("Error").message("An error occurred while creating the blog post.").button("Close", "Retry", true, true).run();
    return;
  }

  const successPop = new Modal(DOMPopTransformer);
  successPop.type("success").title("Success").message("Blog post updated successfully.").button("Close", "View Blog", true, true).callback(()=>{
    navigate("/blog/edit/"+data.slug);
  }, ()=>{
    navigate(`/blog/${data.slug}`);
  }, ()=>{
    navigate("/blog/edit/"+data.slug);
  }, ()=>{
    navigate("/blog/edit/"+data.slug);
  }).run();
  
});

deleteButton.addEventListener("click", (e)=>{
  e.preventDefault();
  deletePop(previousData.slug);
});

aiGenerateTitleButton.addEventListener("click", async (e)=>{
  e.preventDefault();
  const prompt = canAiGenerateTitle();
  if(prompt === ""){
    return;
  }
  const btnContent = aiGenerateTitleButton.querySelector("span") as HTMLSpanElement;
  btnContent.textContent = "Generating...";
  aiGenerateTitleButton.disabled = true;
  
  //Fetch Here Later
  await ApiSuggestBlogTitle(prompt).stream((reader)=>{
    titleInput.value = ""; //Clear the title input
    reader((data)=>{
      const decodedString = JSON.parse(data);
      titleInput.value += decodedString.response;
    });
  }, true);

  btnContent.textContent = "Generate";
  aiGenerateTitleButton.disabled = false;
});

aiGenerateTagButton.addEventListener("click", async (e)=>{
  e.preventDefault();
  const prompt = canAiGenerateTags();
  if(prompt === ""){
    return;
  }
  const btnContent = aiGenerateTagButton.querySelector("span") as HTMLSpanElement;
  btnContent.textContent = "Generating...";
  aiGenerateTagButton.disabled = true;
  
  //Fetch Here Later
  await ApiSuggestBlogTags(prompt).s200((data:string)=>{
    tagsInputChoices.clearStore();
    tagsInputChoices.setValue( JSON.parse(`[${data}]`) );
  }).promiseResponse;

  btnContent.textContent = "Generate";
  aiGenerateTagButton.disabled = false;
});

aiGenerateDescriptionButton.addEventListener("click", async (e)=>{
  e.preventDefault();
  const prompt = canAiGenerateDescription();
  if(prompt === ""){
    return;
  }
  const btnContent = aiGenerateDescriptionButton.querySelector("span") as HTMLSpanElement;
  btnContent.textContent = "Generating...";
  aiGenerateDescriptionButton.disabled = true;
  
  //Fetch Here Later
  await ApiSuggestBlogDescription(prompt).stream((reader)=>{
    descriptionInput.value = "";
    reader((data)=>{
      const decodedString = JSON.parse(data);
      descriptionInput.value += decodedString.response;
    });
  }, true);


  btnContent.textContent = "Generate";
  aiGenerateDescriptionButton.disabled = false;
});

aiGenerateContentButton.addEventListener("click", async (e)=>{
  e.preventDefault();
  const prompt = canAiGenerateContent();
  if(prompt === ""){
    return;
  }
  const btnContent = aiGenerateContentButton.querySelector("span") as HTMLSpanElement;
  btnContent.textContent = "Generating...";
  aiGenerateContentButton.disabled = true;
  
  //Fetch Here Later
  await ApiSuggestBlogContent(prompt).stream((reader)=>{
    editor.getMarkdown("");
    let markdownCached = "";
    reader((data)=>{
      const decodedString = JSON.parse(data);
      markdownCached += decodedString.response;
      editor.setMarkdown(markdownCached);
    });
  }, true);

  btnContent.textContent = "Generate";
  aiGenerateContentButton.disabled = false;
});

</script>